button {
    font-size: 1.5rem;
}

button:hover img, button:focus img{
    filter: invert(75%);
}

button {
    padding-bottom: 10rem;
}

img {
    width: 1.5rem;
    height: 1.5rem;
}

.centerBlock {
    display: block;
    margin: 0 auto;
}