<app-autofill (newEvent)="takeCityCode($event)">

</app-autofill>

<br>

<hr style="height: 6px; width: 100%; border-color: #1976d2; background-color: #1976d2;">

<div style="text-align: center;" *ngFor="let data of arr">

  <h2 style="font-size: 20pt;"> Weather data for <span
      [ngStyle]="{'text-decoration':(data.city.isCapital ? 'underline' : 'none')}">{{printData(data.city.member.memName + ' - ' +
      data.city.cityName)}}</span> </h2>
  <h3> Data from station <span
      [ngStyle]="{'text-decoration':(data.city.isCapital ? 'underline' : 'none')}">{{printData(data.city.stationName)}}</span>
  </h3>
  <h3> Data issued on <span
      [ngStyle]="{'text-decoration':(data.city.isCapital ? 'underline' : 'none')}">{{printData(data.city.forecast.issueDate)}}</span>
  </h3>

  <h3> Forecast for the next {{ forecastSize }} days </h3>

  <table>
    <tr>
      <th> <button (click)="showFarenheit = !showFarenheit"
          [ngStyle]="{'background': (showFarenheit ? '#004ca8' : '#2e8eee')}"> {{showFarenheit ? 'F' : 'C'}} </button>
      </th>
      <th> Forecast date </th>
      <th> Weather </th>
      <th> Min Temp {{showFarenheit ? 'F' : 'C'}}° </th>
      <th> Max Temp {{showFarenheit ? 'F' : 'C'}}° </th>
      <th> Weather Icon </th>
    </tr>
    <tr *ngFor="let day of data.city.forecast.forecastDay">
      <td></td>
      <td> {{printData(day.forecastDate)}} </td>
      <td> {{printData(day.weather)}} </td>
      <td> {{showFarenheit ? printData(day.minTempF) : printData(day.minTemp)}}° </td>
      <td> {{showFarenheit ? printData(day.maxTempF) : printData(day.maxTemp)}}° </td>
      <td>
        <img [src]="resolveWeatherIcon(day.weather)" [alt]="day.weather" style="width: 50px; height: 50px;">
        <!-- <mat-icon>{{resolveWeatherMatIcon(day.weather)}}</mat-icon> -->
      </td>
    </tr>
  </table>
</div>

<button (click)="showContriesDD = !showContriesDD" [ngStyle]="{'background': (showContriesDD ? '#004ca8' : '#2e8eee')}">
  Click to {{showContriesDD ? 'hide' : 'show'}} all available contries </button>
<ng-container *ngIf="showContriesDD">
  <input class="cityIdInput" [value]="input" #box (keyup.enter)="onEnter(box.value)">
  <table>
    <tr class="sticky">
      <th> <a href="#dropDownSearch"> <button> Top </button> </a> </th>
      <th> Country </th>
      <th> City </th>
      <th> CityId </th>
    </tr>
    <tr *ngFor="let city of cityDataArr">
      <td> </td>
      <td> {{city.Country}} </td>
      <td> {{city.City}} </td>
      <td> {{city.CityId}} </td>
    </tr>
  </table>
</ng-container>